header{
    text-align: center;
    color: black;
    font-size: 48px;
    background-color: grey;
}
nav{
    color: black;
    font-size: 36px;
}
section{
    
}

footer{
    color: black;
    background-color: black;
}